<div style="margin-top: 10px;">
    <button (click)="refresh()" mat-button>
        <mat-icon matPrefix style="margin-right: 10px">refresh</mat-icon>
        <span>Обновить список результатов</span>
    </button>
    <button (click)="add()" mat-button>
        <mat-icon matPrefix style="margin-right: 10px">add</mat-icon>
        <span>Добавить участника</span>
    </button>
    <button (click)="report()" mat-button>
        <mat-icon aria-hidden="false" style="margin-right: 10px">cloud_download</mat-icon>
        <span> Скачать общий отчет </span>
    </button>
</div>
